.all-skill {
  font-size: xx-large;
  font-weight: 600;
  color: rgb(9, 9, 9);
  font-family: "Suisse Works", Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.From-critical {
  color: #6a6f73;
  font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji";
}

.job-name-btn-div{
    overflow: auto;
display: flex;
justify-content: space-around;
}
/* .slick-slider.slick-initialized {
    width: 100%;
  }
  .slick-arrow.slick-prev {
    background: black;
  }
  .slick-arrow.slick-next {
    background: black;
  } */

 



/* Track */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgb(197, 104, 240) ; /* Set the color of the scrollbar handle */
  border-radius: 100px; /* Set border radius to make it round */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b63ab; /* Change the color of the scrollbar handle on hover */
}
